.slider {
  fill:hsla(0,0%,75%,1);
}

.slider:hover,
.slider.dragging {
  fill-opacity:0.5;
}

.tLine {
  stroke-width:1px;
  stroke:#888;
}

.colorBarTitle,
.colorBarValue {
  fill:#c1c1c1;
}

.colorPicker {
  /*height:200px;*/
  width:645px;
  margin:auto;
  margin-top:200px;
  position:relative;
}